<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-animations">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Brand</a> -->
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-animations" data-hover="dropdown" data-animations="fadeInDown fadeInRight fadeInUp fadeInLeft">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" routerLink="/">Home</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" routerLink="/who">Who Are We</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">What We Do<span class="caret"></span></a>
            <ul class="dropdown-menu dropdownhover-bottom" role="menu" style="">
              <li><a href="#" routerLink="/website">Website Development</a></li>
              <li><a href="#" routerLink="/mobile">Mobile App Development</a></li>
              <li><a href="#" routerLink="/enterprise">Enterprise Application Integration</a></li>
              <li><a href="#" routerLink="/quality">Quality Assurance Training</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" routerLink="/work">Where We Work</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" routerLink="/careers">Careers</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" routerLink="/contact">Contact Us</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle icon-links" data-toggle="dropdown" role="button" aria-expanded="false">
              <a href="mailto:arun@gmail.com"><img src="assets/email.png" alt="email"></a>
              <a href="https://www.facebook.com/"><img src="assets/fb24.png" alt="fb"></a>
              <a href="https://twitter.com/"><img src="assets/twitter48.png" alt="twitter"></a>
              <a href="linkedin.com"><img src="assets/ln24.png" alt="Linkedin"></a>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div>&nbsp; </div>

<footer class="footer container text-center alert alert-info">
  <h4>
    OMNITEC Solutions Inc, Estd 1999
  </h4>
  <span>5841 S. Corporate Place - Sioux Falls, SD 57108</span>  
</footer>